* {
  font-family: Poppins;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container img {
  width: 200px;
}

.icon {
  width: 40px !important;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  max-width: 1300px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation a {
  margin: 0 30px;
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  font-weight: 700;
}

.contact-btn {
  background-color: #4CE0D7 !important;
  padding: 10px 20px;
  border-radius: 40px;
}

.image-div {
  background-image: url(./pexels-andrea-piacquadio-994234\ 1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 1230px;
  height: 559px;
  margin: 20px 150px;
  border-radius: 20px;
}

.image-texts h3 {
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #FFFFFF;
  width: 189px;
  padding-bottom: 20px;
}

.image-texts h1 {
  font-size: 46px;
  font-weight: 400;
  line-height: 69px;
  color: #FFFFFF;
  padding-bottom: 20px;
}

.image-texts h1 span {
  font-size: 46px;
  font-weight: 700;
  line-height: 69px;
  background: linear-gradient(90deg, #4CE0D7 43.06%, #8BA9F4 100%),
  linear-gradient(0deg, #FFFFFF, #FFFFFF);
  color: transparent;
  background-clip: text;
}

.image-texts p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #FFFFFF;
}

.image-div{
  display: block;
  padding: 230px 50px;
}

.image-texts {
  padding: 10px;
}

.second-container {
  padding-bottom: 60px;
}

.third-container h1 {
  margin: 10px 160px; 
  padding-bottom: 60px;
  color: #262626;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card1,
.card2,
.card3,
.card4,
.card5,
.card6 {
  display: block;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin: 5px;
  color: #262626;
  box-shadow:  0px 6px 6px 0px rgba(0, 0, 0, 0.05);
  width: 210px;
  height: 300px;


}

.cards img {
  width: 100%;
  height: auto;
}


.third-container h2 {
  padding-bottom: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

}

.third-container img {
  padding-bottom: 40px;
  width: 110px;
  height: auto;

}

.third-container button {
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  width: 150px;
  height: 35px;
  border-radius: 40px;
  background: rgba(76, 224, 215, 1);
  border: none;
}

.third-container {
  padding-bottom: 100px;
}
.vector {
  margin: 0 120px;
  padding-bottom: 50px;
}

.couple{
  background-image: url(./Mask\ group.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 360.3px;
  border-radius: 20px;
}

.fourth-container {
  box-shadow: 0px 6px 6px 0px #0000000D;
  max-width: 1204px;
  margin: 0 180px;
  border-radius: 20px;

}

.fourth-container button {
  background-color: #262626;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  width: 233.95px;
  height: 36.49px;
  border-radius: 40px;
  border: none;
  margin: 30px;
}

.admin-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 20px 30px;
  color: #BCBCBC;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 20px;
}

.date {
  padding: 0 120px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #BCBCBC;
}

.line {   
  padding-left: 270px;
}

.info h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 39px;
  color: #262626;
  padding-bottom: 20px;
  margin: 0 30px;
}

.info p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 20px;
  margin: 0 30px;
}

.read-more {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 40px;
  margin: 0 30px;
}

.big-container {
  padding-bottom: 100px;
}

.image {
  background: url(./Mask\ group\ \(2\).png);
  height: 280px;
  max-width: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.image1 {
  background: url(./Mask\ group\ \(3\).png);
  height: 280px;
  max-width: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

.information {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

}

.trending-box {
  max-width: 580px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 6px 6px 0px #0000000D;

}

.trending-content {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin: 0 auto;
  max-width: 1204px;
  
}

.read-more-btn {
  display: flex;
  align-items: center;
}
